if SHIELD_MACROCARD_PRODUCTIVITY

config ZMK_KEYBOARD_NAME
    default "Macrocard Productivity"

endif # SHIELD_MACROCARD_PRODUCTIVITY

if SHIELD_MACROCARD_MUSIC

config ZMK_KEYBOARD_NAME
    default "Macrocard Music"

endif # SHIELD_MACROCARD_MUSIC