/ {
    chosen {
        zmk,kscan = &default_kscan;
    };

    aliases {
        led-red = &led0;
        led-green = &led1;
        led-blue = &led2;
    };

    leds {
        compatible = "gpio-leds";
        status = "okay";
        
        led0: led_0 {
            gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;  // Red LED on P0.02
        };
        
        led1: led_1 {
            gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;   // Green LED on P0.29
        };
        
        led2: led_2 {
            gpios = <&gpio0 31 GPIO_ACTIVE_LOW>;   // Blue LED on P0.31
        };
    };

    default_kscan: kscan {
        compatible = "zmk,kscan-gpio-direct";
        label = "default_kscan";
        wakeup-source;
        
        input-gpios = 
            <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,   // Switch 1 on P1.11
            <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,   // Switch 2 on P1.13
            <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,   // Switch 3 on P1.15
            <&gpio0 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;   // Encoder switch
    };

    center_encoder: encoder_center {
        compatible = "alps,ec11";
        // Swap pins to invert rotation
        a-gpios = <&gpio1 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;  // Pin A on P1.04
        b-gpios = <&gpio1 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;  // Pin B on P1.06
        steps = <80>;
        status = "okay";
    };
    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&center_encoder>;
    };
};

&center_encoder {
    status = "okay";
};