#include <behaviors/rgbled_widget.dtsi>
// #include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        // bt: bt {
        //     compatible = "zmk,behavior-bluetooth";
        //     #binding-cells = <1>;
        // };
        // Hold/tap behavior for encoder switch - tap for mute, hold for BT clear
        enc_ht: enc_ht {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <1000>;
            bindings = <&bt>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Music";
            bindings = <
                &kp C_PREV      // Switch 1 - Previous track
                &kp C_PP        // Switch 2 - Play/Pause
                &kp C_NEXT      // Switch 3 - Next track
                &enc_ht BT_CLR C_MUTE     // Encoder switch - tap for mute, hold for BT clear
            >;
            
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};