#include <behaviors/rgbled_widget.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        // Hold/tap behavior for encoder switch - tap for mute, hold for BT clear
        enc_macro: enc_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &bt BT_CLR>,
                       <&macro_tap &kp C_MUTE>,
                       <&macro_release &bt BT_CLR>;
            tap-ms = <1000>;
            wait-ms = <1000>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Music";
            bindings = <
                &kp C_PREV      // Switch 1 - Previous track
                &kp C_PP        // Switch 2 - Play/Pause
                &kp C_NEXT      // Switch 3 - Next track
                &enc_macro      // Encoder switch - tap for mute, hold for BT clear
            >;
            
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };
    };
};